:root {
    --background-color: #011212;
    --border-radius: 50px;
    --width: 100px;
    --height: 100px;


}

body {
    background-color: var(--background-color);
}

.ball {
    width: var(--width);
    height: var(--height);
    background-color: #ff8800;
    border-radius: var(--border-radius);
}